<% include ../../partials/header.ejs %>


<div class="container center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">case_no</th>
                <th scope="col">hotspot</th>
                <th scope="col">stolen_things</th>
                <th scope="col">suspects</th>
            </tr>
        </thead>
        <tbody>

            <ul>
                <% for(var i=0; i<queryOutput.length; i++) { %>
                <tr>
                    <td>
                        <%= queryOutput[i].case_no %>
                    </td>
                    <td>
                        <%= queryOutput[i].hotspots %>
                    </td>
                    <td>
                        <%= queryOutput[i].stolen_things %>
                    </td>
                    <td>
                        <%= queryOutput[i].suspects %>
                    </td>
                </tr>
                <% } %>
            </ul>
        </tbody>
    </table>
    <form action="/smuggling?_method=DELETE" method="POST">
        <div class="form-group">
            <label for="case_no">Case No</label>
            <input type="text" class="form-control" name="case_no" aria-describedby="emailHelp" placeholder="provide case number">
        </div>
		<button type="submit" class="btn btn-primary">Delete</button>
	</form>
</div>

<% include ../../partials/footer.ejs %>