<% include ../partials/header.ejs %>
    <!-- TODO -->
    <form action="/query" method="POST">
        <input type="text" name="name">
        <input type="submit">
    </form>
<% include ../partials/footer.ejs %>