<% include ../partials/header.ejs %>
<div class="container" id="landing">
    <form action="/query">
        <h1>Welcome to CRD</h1>
        <button type="submit" class="btn btn-primary">
            Proceed to Database
        </button>
    </form>
</div>
<% include ../partials/footer.ejs %>