<% include ../../partials/header.ejs %>

<div class="container">
    <form>
        <div class="form-group">
            <label for="peoples involved">Names of peoples involved</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter peoples involved">
        </div>

        <div class="form-group">
            <label for="Discription">Vehicle Discription</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Vehicle Discription">
        </div>
        <div class="form-group">
            <label for="no of vehicles">no of Vehicles</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter the no vehicles">
        </div>

        <div class="form-group">
            <label for="vehicle no">Vehicle no</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter the vehicle no">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ../../partials/footer.ejs %>