<% include ../../partials/header.ejs %>
<!-- TODO add bootstrap -->
<div class="container center">
    <h1>Enter the data of criminal</h1>
    <form action="/criminal-records" method="POST">
        <div class="form-group">
            <h3>Name of criminal</h3>
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name" required>
        </div>

        <div class="form-group">
            <h3>Gender</h3>
            <label for="M">Male</label>
            <input class="form-control" id="M" type="radio" name="gender" value="Male">
            <label for="F">Female</label>
            <input class="form-control" id="F" type="radio" name="gender" value="Female">
            <label for="O">Other</label>
            <input class="form-control" id="O" type="radio" name="gender" value="Other">
        </div>

        <div class="form-group">
            <h3>Criminal ID</h3>
            <label for="criminal_id">Criminal ID</label>
            <input class="form-control" type="number" name="criminalID" required>
        </div>

        <div class="form-group">
            <h3>Case No</h3>
            <label for="Case no">Case No</label>
            <input class="form-control" type="number" name="case_no" required>
        </div>

        <div class="form-group">
            <h3>Prison status</h3>
            <label for="prison_status">prison status</label>
            <input class="form-control" type="text" name="prison_status" required>
        </div>

        <div class="form-group">
            <h3>Age</h3>
            <label for="age">Age</label>
            <input class="form-control" name="age" type="number" required>
        </div>

        <div class="form-group">
            <h3>Photo of criminal</h3>
            <label for="first">Photo:</label>
            <input class="form-control" type="text" name="photo" required>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<% include ../../partials/footer.ejs %>