<% include ../../partials/header.ejs %>
<!-- TODO add bootstrap -->
<div class="container center">
	<h1>Enter the data of Crime Record</h1>
	<form action="/crime-records" method="POST">
		<div class="form-group">
			<label for="pin" class="location">Pin Code</label>
			<input class="form-control" id="" type="number" name="pin" required>
		</div>
		<div class="form-group">
			<label for="village" class="location">Village</label>
			<input class="form-control" id="" type="text" name="village" required>
		</div>
		<div class="form-group">
			<label for="taluka" class="location">Taluka</label>
			<input class="form-control" id="" type="text" name="taluka" required>
		</div>
		<div class="form-group">
			<label for="district" class="location">District</label>
			<input class="form-control" id="" type="text" name="district" required>
		</div>
		<div class="form-group">
			<label for="address" class="location">Local Address</label>
			<input class="form-control" id="" type="text" name="address" required>
		</div>

		<div class="form-group">
			<label for="Catagory">Catagory of crime</label>
			<select class="form-control" id="Cat" name="Catagory">
				<option>Theft</option>
				<option>Murder</option>
				<option>Railway crime</option>
				<option>Lost person</option>
				<option>Accident</option>
				<option>Smuggling</option>
			</select>

		</div>
		<div class="form-group">
			<h3>Case No</h3>
			<label for="case_no">Case no</label>
			<input class="form-control" type="number" name="case_no">
		</div>
		<div class="form-group">
			<h3>Criminal_id</h3>
			<label for="criminal_id">Criminal_id</label>
			<input class="form-control" type="number" name="criminal_id">
		</div>
		<div class="form-group">
			<h3>Time of crime</h3>
			<label for="time">Time of crime</label>
			<input class="form-control" type="number" name="Time">
		</div>

		<div class="form-group">
			<h3>Time of registration</h3>
			<label for="rtime">Time of registration</label>
			<input class="form-control" type="number" name="RTime">
		</div>


		<div class="form-group">
			<h3>Date</h3>
			<label for="date">Day:</label>
			<select class="form-control" id="date" name="Date">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
				<option>24</option>
				<option>25</option>
				<option>26</option>
				<option>27</option>
				<option>28</option>
				<option>29</option>
				<option>30</option>
				<option>31</option>
			</select>
			<label for="month">Month:</label>
			<select class="form-control" id="month" name="month">
				<option>jan</option>
				<option>feb</option>
				<option>mar</option>
				<option>apr</option>
				<option>may</option>
				<option>jun</option>
				<option>jul</option>
				<option>aug</option>
				<option>sept</option>
				<option>oct</option>
				<option>nov</option>
				<option>dec</option>
			</select>
			<label for="year">Year:</label>
			<select class="form-control" id="year" name="year">
				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
				<option>1999</option>
				<option>2000</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
				<option>2004</option>
				<option>2005</option>
				<option>2006</option>
				<option>2007</option>
				<option>2008</option>
				<option>2009</option>
				<option>2010</option>
				<option>2011</option>
				<option>2012</option>
				<option>2013</option>
				<option>2014</option>
				<option>2015</option>
				<option>2016</option>
				<option>2017</option>
				<option>2018</option>
				<option>2019</option>
				<option>2020</option>
				<option>2021</option>
				<option>2022</option>
			</select>
		</div>

		<div class="form-group">
			<h3>Age</h3>
			<label for="age">Age</label>
			<input class="form-control" name="age" type="number" required>
		</div>

		<button value="submit" class="btn btn-primary">Next</button>
	</form>
</div>

<% include ../../partials/footer.ejs %>