<% include ../../partials/header.ejs %>
<!-- TODO add bootstrap -->
<div class="container">
	<h1>Enter the data of Crime Record</h1>
	<form>
		<div class="form-group">
			<label for="pin" class="location">Pin Code</label>
			<input class="form-control" id="" type="number" name="pin" required>
		</div>
		<div class="form-group">
			<label for="taluka" class="location">Taluka</label>
			<input class="form-control" id="" type="text" name="taluka" required>
		</div>
		<div class="form-group">
			<label for="district" class="location">District</label>
			<input class="form-control" id="" type="text" name="district" required>
		</div>

		<div class="form-group">
			<label for="Catagory">Catagory of crime</label>
			<select class="form-control" id="Cat" name="Catagory">
				<option>Theft</option>
				<option>Murder</option>
				<option>Railway crime</option>
				<option>Lost person</option>
				<option>Accident</option>
				<option>Smuggling</option>
			</select>

		</div>

		<div class="form-group">
			<h3>Time of crime</h3>
			<label for="time">Time of crime</label>
			<input class="form-control" type="time" name="Time">
		</div>

		<div class="form-group">
			<h3>Time of registration</h3>
			<label for="rtime">Time of registration</label>
			<input class="form-control" type="time" name="RTime">
		</div>


		<div class="form-group">
			<h3>Date</h3>
			<label for="date">Day:</label>
			<select class="form-control" id="date" name="Date">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
			</select>
			<label for="month">Month:</label>
			<select class="form-control" id="month" name="month">
				<option>jan</option>
				<option>feb</option>
				<option>mar</option>
				<option>apr</option>
				<option>may</option>
				<option>jun</option>
				<option>jul</option>
			</select>
			<label for="year">Year:</label>
			<select class="form-control" id="year" name="year">
				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
				<option>1999</option>
				<option>2000</option>
				<option>2001</option>
			</select>
		</div>

		<div class="form-group">
			<h3>Age</h3>
			<label for="age">Age</label>
			<input class="form-control" id="c" type="number" required>
		</div>

		<button value="submit" class="btn btn-primary">submit</button>
	</form>
</div>

<% include ../../partials/footer.ejs %>