

<% include ../../partials/header.ejs %>
	<h1>Enter the data of criminal</h1>
	<form>
		<div>
			<h3>Name of criminal</h3>
			<label for="first" id="f">First Name:</label>
			<input id="first" type="text" name="x" required>
			<label for="middle" id="m">Middle Name:</label>
			<input id="middle" type="text" name="z" required>
			<label for="last" id="l">Last Name:</label>
			<input id="last" type="text" name="y" required>
		</div>
		
		<div>
			<h3>Gender</h3>
			<label for="M">Male</label>
		<input id="M" type="radio" name="gender" value="Male">
		<label for="F">Female</label>
		<input id="F" type="radio" name="gender" value="Female">
		<label for="O">Other</label>
		<input id="O" type="radio" name="gender" value="Other">
		</div>
		
		
		
		<div>
			<h3>Case No</h3>
			<label for="Case no">Case No</label>
			<input type="number" name="case no" required>
			<!-- <label for="date">Day:</label>
		<select id="date" name="Date">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
		</select>
		<label for="month">Month:</label>
		<select id="month" name="month">
			<option>jan</option>
			<option>feb</option>
			<option>mar</option>
			<option>apr</option>
			<option>may</option>
			<option>jun</option>
			<option>jul</option>
		</select>
		<label for="year">Year:</label>
		<select id="year" name="year">
			<option>1995</option>
			<option>1996</option>
			<option>1997</option>
			<option>1998</option>
			<option>1999</option>
			<option>2000</option>
			<option>2001</option>
		</select> -->
		</div>
		
		<div>
			<h3>Age</h3>
				<label for="age">Age</label>
				<input id="c" type="number" required>
		</div>
	
		<button id="submit">submit</button>
	</form>
    <% include ../../partials/footer.ejs %>