<% include ../../partials/header.ejs %>

<div class="container">
    <form action="/lost" method="POST">
        <div class="form-group">
            <h3>case no</h3>
            <label for="case_no">case no</label>
            <input class="form-control" type="number" name="case_no" required>
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter name">
        </div>

        <div class="form-group">
            <h3>Age</h3>
            <label for="age">Age</label>
            <input class="form-control" name="age" type="number" required>
        </div>

        <div class="form-group">
            <label for="reason">Probable Reason</label>
            <input type="text" class="form-control" name="reason" aria-describedby="emailHelp" placeholder="Enter the Probable reason">
        </div>
        <div class="form-group">
            <label for="special_identity">Special identity</label>
            <input type="text" class="form-control" name="identity" aria-describedby="emailHelp" placeholder="Enter the body marks of lost person">
        </div>

        <div class="form-group">
            <h3>Photo of person</h3>
            <label for="first">Photo:</label>
            <input class="form-control" type="text" name="photo" required>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ../../partials/footer.ejs %>