<% include ../../partials/header.ejs %>

<div class="container">
    <form>
        <div class="form-group">
            <h3>case no</h3>
            <label for="case_no">case no</label>
            <input class="form-control" type="number" name="case_no" required>
        </div>
        <div class="form-group">
            <label for="weapon">Murder Weapon</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the name of murder weapon">
        </div>
        <div class="form-group">
            <label for="condition">Condition of the dead body</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter condition of the dead body">
        </div>

        <div class="form-group">
            <label for="victim_details">victim details</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter victim details">
        </div>

        <div class="form-group">
            <h3>Age</h3>
            <label for="age">Age</label>
            <input class="form-control" id="c" type="number" required>
        </div>

        <div class="form-group">
            <label for="suspects">Suspects</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name of the suspects">
        </div>

        <div class="form-group">
            <h3>Photo of criminal</h3>
            <label for="first">Photo:</label>
            <input class="form-control" type="text" name="name" required>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<% include ../../partials/footer.ejs %>