<% include ../../partials/header.ejs %>

<div class="container">
    <form>
        <div class="form-group">
            <label for="Hotspots">Hotspots</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter the hotspots">
        </div>
        <div class="form-group">
            <label for="things">Smuggled Things</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter the smuggled things">
        </div>
        <div class="form-group">
            <label for="suspects">Suspects</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter name of the suspects">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ../../partials/footer.ejs %>